/* Provide sufficient contrast against white background */
body {
  margin: 0;
}
#root > .ant-layout {
  height: 100vh;
}
a {
  color: #0366d6;
}

.site-layout-background {
  overflow: auto;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.showDetails {
  margin-top: 30px;
}
.title-details {
  font-weight: 700;
}
.ant-row {
  margin-top: 5px;
}


.divs {
  display: flex;
  width: 100%;
justify-content: space-between;
  background: gray;

}

.divs > div{
  width: 100px;
}

.divs > div:nth-child(1) {
  background: red;
}
.divs > div:nth-child(2) {
  background: blue;
}
.divs > div:nth-child(3) {
  background: yellow;
}
.pagination > ul {
  float: right;
}
.detailPage-btn {
  float: right;
}
.detailPage{
  padding: 15px;
}